body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.logo-tipo {
  width: 40%;
  margin: 1rem 0 0 1rem;
}

.img-left {
  display: block;
  width: 80%;
  margin: 5rem auto 3rem;
}
.text-right {
  display: block;
  text-align: center;
  color: white;
  margin: auto;
}

.text-right h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: inherit;
  margin: 4rem auto 1rem;
  font-size: 2rem;
}
.text-right p {
  margin: 0 auto 3rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  width: 85%;
}

.register-button {
  background-color: white;
  color: hsl(257, 40%, 49%);
  padding: 1rem 5rem;
  border-radius: 2rem;
  font-family: "Poppins", sans-serif;
}

footer {
  display: block;
  color: white;
  font-size: 1.3rem;
  margin: 4rem auto 0;
}
